.scrollWrapper {
    position: relative;
    overflow: hidden;
    /* padding: 0rem 2rem; */
}

.scrollContainer {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 0.1rem;
    /* Ensure this matches the JS gap logic */
    scrollbar-width: none;
    width: inherit;
    max-width: inherit;
    /* border: 1px solid green; */
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.scrollItem {
    /* min-width: 300px; */
    /* Ensures horizontal overflow */
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 1.5rem; */
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.navBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.left {
    left: -10px;
}

.right {
    right: 10px;
}

.navBtn:hover {
    background: rgba(0, 0, 0, 0.7);
}