.projectCard {
    width: 320px;
    padding: 20px;
    margin: 15px;
    border-radius:1rem;
    /* background: rgba(172, 21, 21, 0.85); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* color: #333; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* gap: 12px; */
    /* padding: 1rem; */
    margin: 2rem;
}

.projectCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.cardTitle {
    display: block;
    color: #233344;
    font-weight: 800;
    font-size: 1.1rem;
    /* margin-left: 8px; */
}

.cardDetails {
    display: flex;
    justify-content: space-between;
}

.itemCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* font-size: 1rem !important; */
    padding: 2px 0;
    min-height: 32px;
}

.itemCard span {
    font-size: 0.9rem;
}

.cardText span {
    font-size: 0.699rem;
}

/* .itemCard>svg,
.itemCard>div>svg {
    flex-shrink: 0;
} */

.itemCard:nth-child(1) {
    font-size: 1.2rem;
}