.box {
  margin: 15px;
  margin-top: 50px;
  border-radius: 6px;
}

.head {
  display: inline-block;
  padding: 0px 12px;
  color: rgb(85, 85, 85);
  margin-bottom: 10px;
  margin-left: 30px;
  letter-spacing: 5px;
  font-size: 1.2rem;
}

.heading {
  padding: 0px 12px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
}
.eduDet {
  border-radius: 3px;
  margin-left: 20px;
  margin-top: 2px;
  padding: 30px;
  display: flexbox;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
.cardHead {
  background-color: rgb(243, 243, 243);
  border-left: 5px solid blueviolet;
  padding: 1;
  text-decoration: none;
  /* border-left-style: none; */
}
.cardHead h2 button {
  text-decoration: none;
  color: blueviolet;
}
.cardHead h2 button:hover {
  text-decoration: none;
  color: rgb(72, 199, 216);
}
.cardHead h2 button::selection {
  text-decoration: none;
  color: blueviolet;
}
.cardBody {
  border: none;
  font-size: 12px;
}
.acordian {
  border: none;
  padding: 0;
}
