.sidebar {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    rgb(171, 182, 236),
    rgb(41, 62, 109),
    rgb(20, 95, 114)
  );
  overflow-y: scroll;
  text-align: center;
}

.sidebar > h1 {
  padding-top: 20px;
  text-align: center;
}

.h1_links {
  text-decoration: none;
  font-family: "";
  color: rgb(165, 27, 27);
  font-size: 18px;
}
.sidebar > p {
  margin-top: 20px;
  text-align: center;
}

.sidebar-nav-items {
  margin-bottom: 18px;
}
.sidebar-nav {
  margin-top: 10px;
  margin-left: -30px;
}
.sidebar > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 10px;
}
.links {
  text-decoration: none;
  font-family: "ubuntu";
  color: rgb(127, 140, 182);
  font-size: normal;
  line-height: 1rem;
  scroll-behavior: smooth;
}

.fa-lg {
  text-decoration: none;
  color: rgb(29, 150, 219);
}

.links:hover {
  color: rgb(121, 189, 252);
  text-decoration: underline;
}
.fas:hover {
  color: rgb(41, 152, 255);
  text-decoration: underline;
}
ul {
  list-style: none;
}
.h1_links:hover {
  color: #000;
}
/*//////////////media ////////////////////*/
@media (max-width: 980px) {
  .sidebar {
    width: 80vw;
  }
  .h1_links {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 95vw;
  }
  .h1_links {
    font-size: 28px;
  }
  .links {
    display: none;
  }
  .fas {
    transform: scale(1.3);
    margin: 5px 0px;
  }
  .gmail {
    font-size: 12px;
    font-weight: normal;
  }
}

@media (max-width: 370px) {
  .sidebar {
    width: 106vw;
  }
  .h1_links {
    font-size: 18px;
  }
  .links {
    font-size: 12px;
  }
  .fas {
    transform: scale(1.1);
    margin: 5px 0px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
